---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Ornament from '../components/Ornament.astro';
import TheHook from '../components/TheHook.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Archetypes from '../components/Archetypes.astro';
import Waitlist from '../components/Waitlist.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Ornament />
    <TheHook />
    <Ornament />
    <HowItWorks />
    <Ornament />
    <Archetypes />
    <Ornament />
    <Waitlist />
  </main>
  <SiteFooter />

  <script src="../scripts/waitlist.ts"></script>
</BaseLayout>
