---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Ornament from '../components/Ornament.astro';
import TheHook from '../components/TheHook.astro';
import TheVault from '../components/TheVault.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Archetypes from '../components/Archetypes.astro';
import Faq from '../components/Faq.astro';
import GetTheApp from '../components/GetTheApp.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Ornament />
    <TheHook />
    <Ornament />
    <TheVault />
    <Ornament />
    <HowItWorks />
    <Ornament />
    <Archetypes />
    <Ornament />
    <Faq />
    <Ornament />
    <GetTheApp />
  </main>
  <SiteFooter />

  <script src="../scripts/waitlist.ts"></script>
</BaseLayout>
